* {
  box-sizing: border-box;
  margin: 0;
}


.page-header {
  background-image: url("https://a0.muscache.com/pictures/a430c412-63bc-45f5-8a13-55647449a0b1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 43.5vh;
}

.container {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}